@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    max-width: 100%;
}

#principal{
    width: 100%;
    height: 100%;
    background-color:#d4d1cf ;
}

nav{
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    color: black
}

.navbar-nav {
    gap: 80px;
}

main{
    width: 999px;
    background-color: white;
    margin: auto;
}
main h1{
    font-family:"Montserrat", sans-serif ;
    font-weight: 800;
    color: #362a1c;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-menu{
   gap: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
  padding-bottom: 40px;
}

.container-menu img{
    height: 340px;
    width: 700px;
    margin: auto;
    display: block;
}
 .img-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .img-wrapper img {
    display: block;
  }
  
  .texto-sobre-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    opacity: 0; /* escondido inicialmente */
    transition: opacity 0.3s ease;
    pointer-events: none; /* evita interferência no hover */
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
  }

  .texto-sobre-img p{
    font-family:"Montserrat", sans-serif ;
    font-weight: 700;
    font-size: 1.5em;
  }
  
  .img-wrapper:hover .texto-sobre-img {
    opacity: 1; /* aparece no hover */
  }

  .rodape{
    background-color: white;
    height: auto;
    display: flex;
    justify-content: center;    
    gap: 50px;                 
    flex-wrap: wrap;            
    padding: 40px;
    margin-top: 20px;
    gap: 90px;
}

.rodape h3{
    font-family:"Montserrat", sans-serif;
    font-weight: 800;
}

.rodape p{
    font-family:"Montserrat", sans-serif ;
}

.redes {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.icones-redes {
    display: flex;
    gap: 10px; 
}

.icones-redes img {
    width: 50px; 
    height: auto;
}

.rodape img:hover{
    width: 53px;
    height: auto;
}

.rodape a{
    text-decoration: none;
    color: inherit;
}

.informacoes li:hover{
    text-decoration: underline;
}

  @media (max-width: 750px) {
    .img-wrapper img {
      height: 280px;
      width: 500px;
    }
    .texto-sobre-img{
      line-height: 250px;
    }
  }

  @media (max-width: 583px) {
    .img-wrapper img {
      height: 220px;
      width: 400px;
    }
    .texto-sobre-img{
      line-height: 200px;
    }
  }

  @media (max-width: 500px) {
    .img-wrapper img {
      height: 160px;
      width: 300px;
    }
    .texto-sobre-img{
      line-height: 140px;
      font-size: 1.0em;
    }
  }

